<div class="forgot-page">
    <div class="forgot-card">
        <h1>Recuperar contraseña</h1>
        <p class="description">
            ingresa el correo asociado a tu cuenta y te enviaremos
            un enlace  para restablecer tu contraseña. 
        </p>
        <form
            [formGroup]="recuperarForm"
            (ngSubmit)="enviarSolicitud()"
        >

            <div class="form-group">
                <label for="email">Correo</label>
                <input id="email" type="email" formControlName="email" placeholder="ejemplo@gmail.com">

                @if (
                    recuperarForm.get('email')?.invalid &&
                    recuperarForm.get('email')?.touched
                ) {
                    <span class="error-field">
                        Ingresa un correo válido 
                    </span>
                }
            </div>

            @if (mensajeExito()) {
                <div class="alert success">
                    {{ mensajeExito() }}
                </div>
            }

            @if (mensajeError()) {
                <div class="alert error">
                    {{ mensajeError() }}
                </div>
            }

            <button
                type="submit"
                [disabled]="isLoading()"
            >
                {{ isLoading() ? 'Enviando...' : 'Enviar enlace' }}
            </button>
        </form>

        <a
            routerLink="/login"
            class="back-login"
        >
            Volver a iniciar sesión 
        </a>
    </div>
</div>